USE [Exam1SSMDB]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 17/04/2019 16:07:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 17/04/2019 16:07:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[InvoiceNumber] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [decimal](18, 2) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[LineDetailId] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_InvoiceDetails] PRIMARY KEY CLUSTERED 
(
	[InvoiceNumber] ASC,
	[LineDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 17/04/2019 16:07:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceNumber] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Notes] [nvarchar](800) NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 17/04/2019 16:07:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](150) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [Name]) VALUES (1, N'Schneider')
INSERT [dbo].[Customers] ([CustomerId], [Name]) VALUES (2, N'CKKC Food')
INSERT [dbo].[Customers] ([CustomerId], [Name]) VALUES (3, N'CMG Information Services')
GO
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[InvoiceDetails] ON 

INSERT [dbo].[InvoiceDetails] ([InvoiceNumber], [ProductId], [Quantity], [UnitPrice], [LineDetailId]) VALUES (1, 79, CAST(90.95 AS Decimal(18, 2)), CAST(791.35 AS Decimal(18, 2)), 396)
INSERT [dbo].[InvoiceDetails] ([InvoiceNumber], [ProductId], [Quantity], [UnitPrice], [LineDetailId]) VALUES (1, 55, CAST(8.90 AS Decimal(18, 2)), CAST(57540.45 AS Decimal(18, 2)), 448)
INSERT [dbo].[InvoiceDetails] ([InvoiceNumber], [ProductId], [Quantity], [UnitPrice], [LineDetailId]) VALUES (1, 84, CAST(67.28 AS Decimal(18, 2)), CAST(2865.79 AS Decimal(18, 2)), 620)
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetails] OFF
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceNumber], [Date], [CustomerId], [Notes]) VALUES (1, CAST(N'2014-09-16T01:17:00.000' AS DateTime), 10, N'9871')
INSERT [dbo].[Invoices] ([InvoiceNumber], [Date], [CustomerId], [Notes]) VALUES (2, CAST(N'2014-11-06T10:45:00.000' AS DateTime), 10, N'Single mode turned off.')
INSERT [dbo].[Invoices] ([InvoiceNumber], [Date], [CustomerId], [Notes]) VALUES (3, CAST(N'2014-01-22T05:09:00.000' AS DateTime), 10, NULL)
GO
SET IDENTITY_INSERT [dbo].[Invoices] OFF
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ProductId], [Description]) VALUES (1, N'ELBOW MACARONI')
INSERT [dbo].[Items] ([ProductId], [Description]) VALUES (2, N'Blue-Green Algae')
INSERT [dbo].[Items] ([ProductId], [Description]) VALUES (3, N'Shark Cartilage')
GO
SET IDENTITY_INSERT [dbo].[Items] OFF
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Invoices] FOREIGN KEY([InvoiceNumber])
REFERENCES [dbo].[Invoices] ([InvoiceNumber])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Invoices]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Items] ([ProductId])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Products]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Customers2] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Customers2]
GO
